.timer {
  text-align: center;
  margin: 20px 0;
}

.time-display {
  font-size: 8em; /* Sesuaikan ukuran jika perlu */
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}